
* {
    margin: 0px;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(223, 219, 219);
}

#converter {
    background-color: whitesmoke;
    position: absolute;
    top: 10vh;
    left: 10%;
    padding: 20px;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 7px;
}

#selector_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#display {
    padding: 5px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#color_field {
    height: 60px;
    border-radius: 7px;
}

input {
    border: none;
    background-color: whitesmoke;
    width: 60px;
    height: 40px;
}

.value {
    
}

